apiVersion: v1
name: playbook
description: Stakater playbook!
version: {{ getenv "VERSION" }}
keywords:
  - stakater
  - devops
  - playbook
home: https://github.com/stakater/playbook
maintainers:
- name: Stakater
  email: stakater@aurorasolutions.io